body
{
    font-family: "Roboto";
    margin: 0;
    background: #282826;
}
.row
{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    background: transparent;
    text-align: center;
    margin-bottom: 20px;
}
a
{
    text-decoration: none;
}
.bg-header
{
    background: rgba(233,217,186,1);
}
.wapper
{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.barra-top
{
    width: 100%;
    height: auto;
    border-top: 1px solid #fff;
    float: left;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
}
.barra-top h1
{
    border-top: 1px solid #46a546;
    width: auto;
    float: left;
    position: relative;
}
.title-barra
{
    border-top: 1px solid #46a546;
    float: left;
    font-size: 30px;
    position: relative;
    width: auto;
    color: #fff;
    text-transform: uppercase;
}
.logo
{
    float: left;
    height: auto;
    padding-bottom: 12px;
    padding-top: 13px;
    position: relative;
    width: auto;
}
.menu-home
{
    float: right;
    height: auto;
    margin-top: 26px;
    position: relative;
    width: auto;
    font-family: "Roboto";
}
.menu-item
{
    border-radius: 19px;
    float: left;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    color: #282826;
}
.menu-item a
{
    color: #282826;
}
.menu-home a .menu-item:hover
{
    background: #EA2E3D;
    color: #fff !important;

}
.selection-cidade
{

    float: left;
    position: relative;
    font-size: 10px;
}
.selecionar
{
    border: none;
    background: #fff;
    -moz-user-select: none;
    padding: 10px;
    border-radius: 5px;
}
.ninfa-principal
{
    border-radius: 3px;
    box-shadow: 0 3px 0 0 rgba(233, 217, 186, 1);
    float: left;
    height: 302px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 46.5%;
}
.ninfa-principal img
{
    min-width: 100%;
}
.descricao-ninfa
{
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    padding: 20px;
    position: absolute;
    text-align: left;
    text-shadow: 0 2px 2px #111;
    width: 93%;
}
.cartoes
{
    bottom: 85px;
    float: right;
    height: auto;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 35px;
}
.center
{
    margin-left: 19px;
    position: relative;
    width: 101.43%;
}
.selo-ninfa
{
    border-radius: 3px;
    box-shadow: 0 3px 0 0 rgba(233, 217, 186, 1);
    float: left;
    height: 300px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 16%;
}
.selo-ninfa .descricao-ninfa
{
    font-size: 19px;
}
.selo-ninfa .cartoes
{
    bottom: 73px;
}
.selo-ninfa img
{
    min-height:120%;
}
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #eee;
    font-size: 11px;
    font-weight: bold;
    padding: 11px 10px;
    width: 172px;
}

#mainselection {
   background: #EA2E3D  no-repeat scroll 319px center;
    border-radius: 26px;
    float: left;
    margin-left: 16px;
    overflow: hidden;
    position: relative;
    width: 157px;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
​