<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Ninfas Vip's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jQuery Responsive Carousel - Owl Carusel">
    <meta name="author" content="Bartosz Wojciechowski">
    <!--
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>-->
    <link href="{{ STATIC_URL }}site/assets/css/bootstrapTheme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site/assets/css/custom.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="{{ STATIC_URL }}site/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Prettify -->
    <link href="{{ STATIC_URL }}site/assets/js/google-code-prettify/prettify.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="{{ STATIC_URL }}site/assets/ico/favicon.png">
</head>
<body class="interna-win">
<div class="row">
    <div class="span10">
        <div class="offset3">
            <div class="logo-home">
                <div class="box-home">
                    <div class="limite">
                        <span class="title-box">selecione sua cidade para Entrar</span>
                        <div id="mainselection" style="margin-top: 19px;">

                          <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                            <option value="">SELECIONE SUA CIDADE</option>
                            {% for cidade in cidades %}
                                 <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}/{{ cidade.estado.uf }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <a href="/ninfas">
                            <div class="button-home">ENTRAR</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>