<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NinfasVips</title>
    <link href="{{ STATIC_URL }}site/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="row bg-header">
    <div class="wapper">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                </a>
            </div>
            <div class="menu-home">
                <a href="/ninfas">
                    <span class="menu-item">
                        acompanhantes
                    </span>
                </a>
                <a href="/ninfas">
                    <span class="menu-item">
                        vip's
                    </span>
                </a>
                <a href="/ninfas">
                    <span class="menu-item">
                        seja uma ninfa
                    </span>
                </a>
                <a href="/ninfas">
                    <span class="menu-item">
                        sobre
                    </span>
                </a>
                <a href="/ninfas">
                    <span class="menu-item">
                        contatos
                    </span>
                </a>
                <div id="mainselection">
                  <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                    <option value="">SELECIONE A CIDADE</option>
                    {% for cidade in cidades %}
                         <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="mainselection">
                  <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                    <option value="">SELECIONE SUA NINFA</option>
                    {% for cidade in cor %}
                         <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}</option>
                    {% endfor %}
                  </select>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
<div class="row">
    <div class="wapper">
        <div class="principal">
            {% for principal in principal %}
                <a href="{{ principal.get_absolute_url }}">
                    <div class="ninfa-principal">
                        <span class="cartoes">
                            {% if principal.master == 1 %}
                            <span class="master">
                                <img src="{{ STATIC_URL }}site/img/master.png">
                            </span>
                            {% endif %}
                            {% if principal.visa == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/visa.png">
                                </span>
                            {% endif %}
                        </span>
                        <span class="descricao-ninfa">{{ principal.nome }}</span>
                        <img src="{{ principal.imagem_capa.url_212x318 }}">
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="center">
            {% for ninfa in ninfas|slice:"0:3" %}
                <a href="{{ ninfa.get_absolute_url }}">
                    <div class="selo-ninfa">
                        <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <span class="descricao-ninfa">{{ ninfa.nome }}</span>
                        <img src="{{ ninfa.imagem_capa.url_212x318 }}">
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="publicidade">

        </div>
    </div>
</div>
<div class="row">
    <div class="wapper">
        <span class="barra-top">
            <span class="title-barra">As Melhores</span>
        </span>
        <div class="center">
            {% for ninfa in ninfas %}
                <a href="{{ ninfa.get_absolute_url }}">
                    <div class="selo-ninfa">
                        <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <span class="descricao-ninfa">{{ ninfa.nome }}</span>
                        <img src="{{ ninfa.imagem_capa.url_212x318 }}">
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
</div>
</body>
</html>