{% include "header/header.html" %}

    <div id="demo" class="destaque">
        <div class="container">
          <div class="row">
            <div class="span9">
              <div id="owl-demo-full" class="owl-carousel">
                {% for destaque in destaque %}
                    <div class="item">
                        <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                                <h4>{{ ninfa.descricao }}</h4>
                            </span>
                        <img src="{{ destaque.imagem_destaque.url_800x600 }}" alt="{{ destaque.nome }}">

                    </div>
                {% endfor %}

              </div>

            </div>
          <div class="span3">
                  <div class="box-ninfas">
                    <div class="limite">
                        <span class="header-box">SELECIONE SUA NINFA</span>
                        <div id="mainselection">

                          <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                            <option value="">SELECIONE A CIDADE</option>
                            {% for cidade in cidades %}
                                 <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div id="mainselection">

                          <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                            <option value="">SELECIONE SUA NINFA</option>
                            {% for cidade in cor %}
                                 <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="publicidade-home">

                        </div>
                    </div>

                  </div>
                </div>
          </div>
        </div>
    </div>

<div class="row section-ninfas">

    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Ninfas da Semana</h1>
          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel new-height">
                  {% for ninfa in semana|slice:"0:4" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <div class="fade-home"></div>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                                <h4>{{ ninfa.descricao }}</h4>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>
          <div class="span12">

              <div id="owl-demo" class="owl-carousel new-height">
                  {% for ninfa in semana|slice:"0:4" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <div class="fade-home"></div>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                                <h4>{{ ninfa.descricao }}</h4>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>
          </div>
        </div>

    </div>
</div>

    <div id="example-info">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Setup</h1>
            <p>Delays loading of images. Images outside of viewport wont be loaded before user scrolls to them. Great for mobile devices to speed up page loadings.
            </p>
            <p>
              Img need special class <code>class="lazyOwl"</code> and path to image in <code>data-src=""</code>: 
              <blockquote><code>&lt;img class="lazyOwl" data-src="path-to-your-image"&gt;</code></blockquote>
              </p>
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#javascript">Javascript</a></li>
              <li><a href="#HTML">HTML</a></li>
              <li><a href="#CSS">CSS</a></li>
            </ul>
             
            <div class="tab-content">

              <div class="tab-pane active" id="javascript">
<pre class="pre-show prettyprint linenums">
$(document).ready(function() {

  $("#owl-demo").owlCarousel({
    items : 4,
    lazyLoad : true,
    navigation : true
  }); 

});
</pre> 
              </div>

              <div class="tab-pane" id="HTML">
<pre class="pre-show prettyprint linenums">
&lt;div id="owl-demo" class="owl-carousel"&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl1.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl2.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl3.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl4.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl5.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl6.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl7.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl8.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl1.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl2.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl3.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl4.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl5.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl6.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl7.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img class="lazyOwl" data-src="assets/owl8.jpg" alt="Lazy Owl Image"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
              </div>

              <div class="tab-pane" id="CSS">
<pre class="pre-show prettyprint linenums">
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
</pre>
</div>
            </div><!--End Tab Content-->

          </div>
        </div>
      </div>
    </div>

    <div id="more">
      <div class="container">

        <div class="row">
          <div class="span12">
            <h1>More Demos</h1>
          </div>
        </div>

        <div class="row demos-row">
          <div class="span3">
            <a href="images.html" class="demo-box">
              <div class="demo-wrapper demo-images clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>Images</h3>
            </a>
          </div>

          <div class="span3">
            <a href="custom.html" class="demo-box">
              <div class="demo-wrapper demo-custom clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>Custom</h3>
            </a>
          </div>

          <div class="span3">
            <a href="itemsCustom.html" class="demo-box">
              <div class="demo-wrapper demo-full clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>Custom 2</h3>
            </a>
          </div>

          <div class="span3">
            <a href="one.html" class="demo-box">
              <div class="demo-wrapper demo-one clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>One Slide</h3>
            </a>
          </div>

        </div>
        <div class="row demos-row">
          <div class="span3">
            <a href="json.html" class="demo-box">
              <div class="demo-wrapper demo-Json clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>JSON</h3>
            </a>
          </div>

          <div class="span3">
            <a href="customJson.html" class="demo-box">
              <div class="demo-wrapper demo-Json-custom clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>JSON Custom</h3>
            </a>
          </div>

          <div class="span3">
            <a href="lazyLoad.html" class="demo-box">
              <div class="demo-wrapper demo-lazy clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>Lazy Load</h3>
            </a>
          </div>

          <div class="span3">
            <a href="autoHeight.html" class="demo-box">
              <div class="demo-wrapper demo-height clearfix">
                <div class="demo-slide"><div class="bg"></div></div>
              </div>
              <h3>Auto Height</h3>
            </a>
          </div>

        </div>
      </div>
    </div>    

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h5>Bartosz Wojciechowski 2013 / @OwlFonk / 
            <a href="mailto:owl@owlgraphic.com?subject=Hey Owl!">email</a> / 
            <a href="../changelog.html">changelog</a> /
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EFSGXZS7V2U9N">donate</a> / 
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://owlgraphic.com/owlcarousel/" data-text="Awesome jQuery Owl Carousel Responsive Plugin" data-via="OwlFonk" data-count="none" data-hashtags="owlcarousel"></a>
            <script>
            var owldomain = window.location.hostname.indexOf("owlgraphic");
            if(owldomain !== -1){
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            }
            </script>
            </h5>
          </div>
        </div>
      </div>
    </div>


    <script src="{{ STATIC_URL }}site/assets/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}site/owl-carousel/owl.carousel.js"></script>

    <!-- Demo -->

    <style>
    #owl-demo .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin: 3px;
    overflow: hidden;
    }
    #owl-demo .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
        #owl-demo-full .item img{
        display: block;
        width: 100%;
        height: auto;

    }
        #owl-demo-full
        {
            margin-bottom: 15px;
        }
    </style>


    <script>
    $(document).ready(function() {

      $("#owl-demo").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });

        $("#owl-demo-top").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

        $("#owl-demo-full").owlCarousel({

          navigation : true,
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem : true,


          items : 2,
          itemsDesktop : true
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false

          });

    });
    </script>


    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-tab.js"></script>

    <script src="{{ STATIC_URL }}site/assets/js/google-code-prettify/prettify.js"></script>
	  <script src="{{ STATIC_URL }}site/assets/js/application.js"></script>

  </body>
</html>
