{% include "header/header.html" %}

    <div id="demo" class="interna interna-back">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div id="owl-demo-full" class="owl-carousel">
                <div class="item">
                            <span class="descricao-ninfa">
                                    <h1>{{ ninfa.nome }}</h1>
                                    <h4 class="subtitulo">{{ ninfa.descricao }}</h4>
                            </span>
                            <img src="{{ ninfa.imagem_capa.url_800x600 }}" alt="{{ ninfa.nome }}">

                        </div>

              </div>

            </div>




          <div class="span4">
                  <div class="box-ninfas-interna">
                    <div class="limite">
                        <span class="header-box-interna">Perfil da Ninfa</span>
                        <div class="dados-ninfa">
                                <div class="cat">
                                        <span class="cartoes">
                                        {% if ninfa.master == 1 %}
                                        <span class="master">
                                            <img src="{{ STATIC_URL }}site/img/master.png">
                                        </span>
                                        {% endif %}
                                        {% if ninfa.visa == 1 %}
                                            <span class="master">
                                                <img src="{{ STATIC_URL }}site/img/visa.png">
                                            </span>
                                        {% endif %}
                                    </span>
                                </div>
                                <span class="title-sub">Bio</span>
                                <span class="item-ninfa">
                                    <strong>Altura:</strong> {{ ninfa.altura }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Idade:</strong> {{ ninfa.idade }} aninhos
                                </span>
                                <span class="item-ninfa">
                                    <strong>Hobby:</strong>
                                    {% for n in ninfa.hobby.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Música:</strong>
                                    {% for n in ninfa.musica.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Quadris:</strong> {{ ninfa.quadris }}
                                </span>
                                <span class="title-sub">Outras Informações</span>

                                <span class="item-ninfa">
                                    <strong>Aceita Cartões:</strong>
                                        {% if ninfa.cartao %}
                                            <span>Sim</span>
                                        {% else %}
                                            <span>Sim</span>
                                        {% endif %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Disposta a Viajar?:</strong>
                                    {% if ninfa.viaja %}
                                        <span>Sim</span>
                                    {% else %}
                                        <span>À Combinar</span>
                                    {% endif %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Idioma:</strong>
                                    {% for n in ninfa.idiomas.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>

                                <span class="title-sub">Contatos</span>

                                <span class="item-ninfa">
                                    <strong>Contato:</strong> {{ ninfa.contato }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Celular:</strong> {{ ninfa.celular }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Email:</strong>
                                    {% if ninfa.email != null %}
                                        {{ ninfa.email }}
                                    {% else %}
                                        Não Informado
                                    {% endif %}
                                </span>



                        </div>

                    </div>

                  </div>
                </div>


          </div>
        </div>
        <div class="container">

          <div class="row">
            <div class="span8">
                <div id="title" class="title title-galeria">
                  <h1>Fotos da Ninfa
                        </h1>
                </div>
                <div class="galeria">
                  {% for n in galeria %}
                      <div class="grid">
                          <img class="lazyOwl" src="{{ n.foto.url_918x573 }}" alt="Lazy Owl Image">
                      </div>
                  {% endfor %}
                </div>

            </div>

          <div class="span4">
                  <div class="box-ninfas-interna-publicidade">
                    <div class="limite-publicidade">
                        {% for publicidade in publicidade %}
                            {% if publicidade.tipo == '1' %}
                                <span class="desc-publicidade">PUBLICIDADE</span>
                                <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}" width="300">
                            {% endif %}
                        {% endfor %}

                    </div>

                  </div>
                </div>
          <div class="span4 box-hide">
                  <div class="box-ninfas-interna">
                    <div class="limite">
                        <span class="header-box-interna">Perfil da Ninfa</span>
                        <div class="dados-ninfa">
                                <div class="cat">
                                        <span class="cartoes">
                                        {% if ninfa.master == 1 %}
                                        <span class="master">
                                            <img src="{{ STATIC_URL }}site/img/master.png">
                                        </span>
                                        {% endif %}
                                        {% if ninfa.visa == 1 %}
                                            <span class="master">
                                                <img src="{{ STATIC_URL }}site/img/visa.png">
                                            </span>
                                        {% endif %}
                                    </span>
                                </div>
                                <span class="title-sub">Bio</span>
                                <span class="item-ninfa">
                                    <strong>Altura:</strong> {{ ninfa.altura }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Idade:</strong> {{ ninfa.idade }} aninhos
                                </span>
                                <span class="item-ninfa">
                                    <strong>Hobby:</strong>
                                    {% for n in ninfa.hobby.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Música:</strong>
                                    {% for n in ninfa.musica.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Quadris:</strong> {{ ninfa.quadris }}
                                </span>
                                <span class="title-sub">Outras Informações</span>

                                <span class="item-ninfa">
                                    <strong>Aceita Cartões:</strong>
                                        {% if ninfa.cartao %}
                                            <span>Sim</span>
                                        {% else %}
                                            <span>Sim</span>
                                        {% endif %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Disposta a Viajar?:</strong>
                                    {% if ninfa.viaja %}
                                        <span>Sim</span>
                                    {% else %}
                                        <span>À Combinar</span>
                                    {% endif %}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Idioma:</strong>
                                    {% for n in ninfa.idiomas.all %}
                                        {{ n }}
                                    {% endfor %}
                                </span>

                                <span class="title-sub">Contatos</span>

                                <span class="item-ninfa">
                                    <strong>Contato:</strong> {{ ninfa.contato }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Celular:</strong> {{ ninfa.celular }}
                                </span>
                                <span class="item-ninfa">
                                    <strong>Email:</strong>
                                    {% if ninfa.email != null %}
                                        {{ ninfa.email }}
                                    {% else %}
                                        Não Informado
                                    {% endif %}
                                </span>



                        </div>

                    </div>

                  </div>
                </div>
          </div>
        </div>
    </div>




{% include "footer/footer.html" %}