{% include "header/header.html" %}

    <div id="demo" class="destaque">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div id="owl-demo-full" class="owl-carousel">
                {% for destaque in destaque %}
                    <a href="{{ destaque.get_absolute_url }}">
                        <div class="item">
                            <span class="cartoes">
                                {% if destaque.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if destaque.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <span class="descricao-ninfa">
                                    <h1>{{ destaque.nome }}</h1>
                                    <h4 class="subtitulo">{{ destaque.descricao }}</h4>
                            </span>
                            <img src="{{ destaque.imagem_destaque.url_800x600 }}" alt="{{ destaque.nome }}">

                        </div>
                    </a>
                {% endfor %}

              </div>

            </div>

          {% include "sidebar/sidebar-home.html" %}
          </div>
        </div>
    </div>

<div class="row section-ninfas">

    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Vips da Semana</h1>
          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel new-height">
                  {% for ninfa in semana|slice:"0:5" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          </div>
        </div>

    </div>
</div>


<div class="row section-ninfas-morenas">
{% for ninfacidade in cidades %}
    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Ninfas de {{ ninfacidade.nome }}
                <a href="/ninfas/{{ ninfacidade.estado.sluguf }}/{{ ninfacidade.slugcidade }}">
                    <ul class="nav pull-right menu-categoria">

                            <li class="">
                                  MAIS DE {{ ninfacidade.nome }}
                            </li>

                  </ul>
                    </a>
            </h1>

          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">


            <div class="span12">

                      <div id="owl-demo-row-{{ ninfacidade.slugcidade }}" class="categoria-geral">
                        {% for ninfa in ninfacidade.acompanhantes_set.all|slice:"0:4" %}
                              <a href="{{ ninfa.get_absolute_url }}">
                                <div class="item">
                                    <div class="fade-home"></div>
                                    <span class="cartoes">
                                        {% if ninfa.master == 1 %}
                                        <span class="master">
                                            <img src="{{ STATIC_URL }}site/img/master.png">
                                        </span>
                                        {% endif %}
                                        {% if ninfa.visa == 1 %}
                                            <span class="master">
                                                <img src="{{ STATIC_URL }}site/img/visa.png">
                                            </span>
                                        {% endif %}
                                    </span>
                                    <img class="lazyOwl" src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                                    <span class="descricao-ninfa">
                                        <h3>{{ ninfa.nome }}</h3>
                                    </span>
                                </div>
                              </a>
                            {% endfor %}
                      </div>



            </div>



          </div>
        </div>

    </div>
    <style type="text/css">
                        #owl-demo-row-{{ ninfacidade.slugcidade }}
                        {
                            float: left;
                            position: relative;
                            width: 102%;
                        }
                        #owl-demo-row-{{ ninfacidade.slugcidade }} .item{
                            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                            float: left;
                            height: 330px;
                            margin-left: 17px;
                            overflow: hidden;
                            position: relative;
                            width: 23%;
                        }
                        .categoria-geral
                        {
                            float: left;
                            position: relative;

                        }
                        #owl-demo-row-{{ ninfacidade.slugcidade }} .item img{
                            display: block;
                            width: 100% !important;
                            height: auto !important;
                            border-radius: 3px;

                            -webkit-transition: height 500ms ease-in-out;
                            -moz-transition: height 500ms ease-in-out;
                            -ms-transition: height 500ms ease-in-out;
                            -o-transition: height 500ms ease-in-out;
                            transition: height 500ms ease-in-out;
                        }
                     </style>

    <script>
    $(document).ready(function() {
        $("#owl-demo-row-{{ ninfacidade.slugcidade }}").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });

    });
    </script>
{% endfor %}

</div>
{% include "footer/footer.html" %}