{% include "header/header.html" %}

    <div id="demo" class="destaque">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div id="owl-demo-full" class="owl-carousel">
                {% for destaque in destaque %}
                    <a href="{{ destaque.get_absolute_url }}">
                        <div class="item">
                            <div class="fade-home"></div>
                            <span class="cartoes">
                                {% if destaque.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if destaque.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <span class="descricao-ninfa">
                                    <h1>{{ destaque.nome }}</h1>
                                    <h4 class="subtitulo">{{ destaque.descricao }}</h4>
                            </span>
                            <img src="{{ destaque.imagem_destaque.url_800x600 }}" alt="{{ destaque.nome }}">

                        </div>
                    </a>
                {% endfor %}

              </div>

            </div>

          {% include "sidebar/sidebar-home.html" %}
          </div>
        </div>
    </div>

<div class="row section-ninfas">

    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Ninfas da Semana</h1>
          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel new-height">
                  {% for ninfa in semana|slice:"0:5" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <div class="fade-home"></div>
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          </div>
        </div>

    </div>
</div>

<div class="row section-ninfas-morenas">

    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Ninfas</h1>
          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo-row" class="owl-carousel new-height">
                  {% for ninfa in semana|slice:"5:9" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          <div class="span12">

              <div id="owl-demo-row-three" class="owl-carousel new-height" style="margin-top: 15px">
                  {% for ninfa in semana|slice:"9:13" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          <div class="span12">

              <div id="owl-demo-row-two" class="owl-carousel new-height" style="margin-top: 15px">
                  {% for ninfa in semana|slice:"13:17" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          </div>
        </div>

    </div>
</div>

{% for cor in catcor %}
<div class="row section-ninfas-morenas">

    <div id="title" class="title">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>{{ cor.nome }}s</h1>
          </div>
        </div>
      </div>
    </div>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo-row-morenas" class="owl-carousel new-height">
                  {% for ninfa in cor.acompanhantes_set.all|slice:"0:5" %}
                      <a href="{{ ninfa.get_absolute_url }}">
                        <div class="item">
                        <div class="fade-home"></div>
                            <span class="cartoes">
                                {% if ninfa.master == 1 %}
                                <span class="master">
                                    <img src="{{ STATIC_URL }}site/img/master.png">
                                </span>
                                {% endif %}
                                {% if ninfa.visa == 1 %}
                                    <span class="master">
                                        <img src="{{ STATIC_URL }}site/img/visa.png">
                                    </span>
                                {% endif %}
                            </span>
                            <img class="lazyOwl" data-src="{{ ninfa.imagem_capa.url_212x318 }}" alt="Lazy Owl Image">
                            <span class="descricao-ninfa">
                                <h3>{{ ninfa.nome }}</h3>
                            </span>
                        </div>
                      </a>
                  {% endfor %}
              </div>

            </div>

          </div>
        </div>

    </div>
</div>
{% endfor %}
{% include "footer/footer.html" %}