<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ninfas Vip's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jQuery Responsive Carousel - Owl Carusel">
    <meta name="author" content="Bartosz Wojciechowski">
    <!--
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>-->
    <link href="{{ STATIC_URL }}site/assets/css/bootstrapTheme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site/assets/css/custom.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="{{ STATIC_URL }}site/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Prettify -->
    <link href="{{ STATIC_URL }}site/assets/js/google-code-prettify/prettify.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}site/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="{{ STATIC_URL }}site/assets/ico/favicon.png">
  </head>
  <body class="home">

      <div id="top-nav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li><a href="/ninfas">acompanhantes</a></li>
                  <li><a href="/vips">vip's</a></li>
                  <li><a href="#how-to">seja uma ninfa</a></li>
                  <li><a href="#customizing">sobre</a></li>
                  <li><a href="#faq">contatos</a></li>

                </ul>

            <ul class="nav pull-left">
              <li>
                  <div class="logo">
                      {% if sluguf != null %}
                        <a href="/ninfas/{{ sluguf }}/{{ slugcidade }}">
                            <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                        </a>
                          <span class="cidade-logo">
                            {{ slugcidade }}-{{ sluguf }}
                          </span>
                      {% else %}
                          {% if slugcor != null %}
                            <a href="/ninfas/{{ slugcor }}">
                                <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                            </a>
                          {% else %}
                              <a href="/ninfas">
                                    <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                              </a>
                          {% endif %}
                      {% endif %}
                </div>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>


<div id="top-nav" class="navbar navbar-fixed-top menu-fixo">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right in">
                  <li><a href="/ninfas">acompanhantes</a></li>
                  <li><a href="/vips">vip's</a></li>
                  <li><a href="#how-to">seja uma ninfa</a></li>
                  <li><a href="#customizing">sobre</a></li>
                  <li><a href="#faq">contatos</a></li>

                </ul>

            <ul class="nav pull-left">
              <li>
                  <div class="logo">
                      {% if sluguf != null %}
                        <a href="/ninfas/{{ sluguf }}/{{ slugcidade }}">
                            <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                        </a>
                      {% else %}
                          {% if slugcor != null %}
                            <a href="/ninfas/{{ slugcor }}">
                                <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                            </a>
                          {% else %}
                              <a href="/ninfas">
                                    <img src="{{ STATIC_URL }}site/img/logo.fw.png">
                              </a>
                          {% endif %}
                      {% endif %}
                </div>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
