<div class="span4">
                  <div class="box-ninfas">
                    <div class="limite">
                        {% if sluguf != null %}
                            <span class="header-box">Ninfas de {{ cidade.nome }}</span>
                        {% else %}
                            <span class="header-box">Ninfas</span>
                        {% endif %}
                        <div id="mainselection">

                          <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                                {% if cidade.nome != null %}
                                    <option value="">{{ cidade.nome }}-{{ cidade.estado.uf }}</option>
                                {% else %}
                                    <option value="">SELECIONE A CIDADE</option>
                                {% endif %}
                            {% for cidade in cidades %}
                                 <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}-{{ cidade.estado.uf }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <!--
                        <div id="mainselection">

                          <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
                            <option value="">SELECIONE SUA NINFA</option>
                            {% for cidade in cor %}
                                 <option value="{{ cidade.get_absolute_url }}">{{ cidade.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>-->
                        <div class="publicidade-home">
                            <div class="limite-publicidade" style="margin-bottom: 2px !important">
                                {% for publicidade in publicidade %}
                                    {% if publicidade.tipo == '1' %}
                                        <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}" width="300">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                  </div>
                </div>