{% load i18n yawdadmin_filters %}<fieldset {% if not fprefix %}id="fieldset-no-{{forloop.counter}}" {% endif %}class="module aligned{% if adminform.model_admin.affix and not is_popup and not inlinefieldset %} affix-header{% endif %} {{fieldset.classes|fix_collapse}}">
							<div class="{% if inlinefieldset %}inline-{% endif %}fieldset-wrapper">{% if fieldset.name %}
								<h2 {% if not fprefix %}id="fieldset-no-{{forloop.counter}}-header" {% endif %}{% if 'collapse' in fieldset.classes %}class="collapse-switcher" onclick="collapse_switcher(this, '#fieldset-no-{{forloop.counter}} .row-fluid');"{% endif %}>{{ fieldset.name }}{% if 'collapse' in fieldset.classes %}&#xa0;<i class="h2-icon icon-arrow-down"></i>{% endif %}</h2>{% endif %}{% if fieldset.description %}
								<div class="description alert">
									{{ fieldset.description|safe }}
								</div>{% endif %}{% for line in fieldset %}
								<div class="row-fluid color-form {% cycle 'row1' 'row2' %}{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.is_hidden %} has-hidden-field{% endif %}{% if field.field.field.popup_fk %} hidden{% endif %}{% endfor %}{% if 'collapse' in fieldset.classes %} hide{% endif %}">
									<div class="field">{% if not line.fields|length_is:'1' and line.errors %}
										<div class="alert alert-error">
											{{ line.errors }}
										</div>{% endif %}{% for field in line %}
										<div class="control-group{% if not line.fields|length_is:'1' %} field-box{% endif %}{% if not field.is_readonly and field.errors %} error{% endif %}">
											{% if not field.is_readonly %}<label class="control-label{% if field.field.field.required %} required{% endif %}{% if not line.fields|length_is:'1' and not forloop.first %} inline-field{% endif %}"{% if field.field.auto_id %} for="{{field.field.auto_id}}"{% endif %}>{% else %}<span class="control-label">{% endif %}{{ field.field.label }}:{% if field.field.field.required %} <span class="text-error">*</span>{% endif %}{% if not field.is_readonly %}</label>{% else %}</span>{% endif %}
											<div class="controls{% if not line.fields|length_is:'1' and not forloop.first %} inline-field{% endif %}">{% if field.is_readonly %}
												{% if field.contents %}{{ field.contents|linebreaksbr }}{% else %}-{% endif %}{% else %}
												{{ field.field }}{% endif %}{% if field.field.help_text %}
												<i class="help icon-question-sign" data-original-title="{{ field.field.label }} - {% trans 'help text' %}" data-content="{{ field.field.help_text }}"></i>{% endif %}{% if line.fields|length_is:'1' and not field.is_readonly and field.errors %}
												<span class="help-inline">{{ field.errors }}</span>{% endif %}
											</div>
										</div>{% endfor %}
									</div>
								</div>{% endfor %}
							</div>
						</fieldset>
