

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h5>Todos os direitos reservados a NinfasVips 2015 / @Agênciai7 /
            <a href="mailto:owl@owlgraphic.com?subject=Hey Owl!">email</a> / 
            <a href="../changelog.html">termos</a> /
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EFSGXZS7V2U9N">sobre</a> /
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://owlgraphic.com/owlcarousel/" data-text="Awesome jQuery Owl Carousel Responsive Plugin" data-via="OwlFonk" data-count="none" data-hashtags="owlcarousel"></a>
            <script>
            var owldomain = window.location.hostname.indexOf("owlgraphic");
            if(owldomain !== -1){
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            }
            </script>
            </h5>
          </div>
        </div>
      </div>
    </div>


    <script src="{{ STATIC_URL }}site/assets/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}site/owl-carousel/owl.carousel.js"></script>

    <!-- Demo -->

    <script>
    $(document).ready(function() {

      $("#owl-demo").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });
        $("#owl-demo-row-morenas").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });
        $("#owl-demo-row").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });
        $("#owl-demo-row-two").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });
        $("#owl-demo-row-three").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true,
          autoPlay: 9000
      });

        $("#owl-demo-top").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

        $("#owl-demo-full").owlCarousel({

          navigation : true,
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem : true,


          items : 4,
          itemsDesktop : true,
          itemsDesktopSmall : false,
          itemsTablet: true,
          itemsMobile : true

          });

        $("#owl-demo-full-home").owlCarousel({

          navigation : true,
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem : true,


          items : 4,
          itemsDesktop : true,
          itemsDesktopSmall : false,
          itemsTablet: true,
          itemsMobile : true

          });

    });
    </script>


    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}site/assets/js/bootstrap-tab.js"></script>

    <script src="{{ STATIC_URL }}site/assets/js/google-code-prettify/prettify.js"></script>
	  <script src="{{ STATIC_URL }}site/assets/js/application.js"></script>
	  <script src="{{ STATIC_URL }}site/js/script.js"></script>

  </body>
</html>
