/* Owl Carousel Bootstrap Custom CSS */

/* Header Navigation */

@font-face{
    font-family:"Alex";
    src:url('AlexBrush-Regular.ttf');
}
.interna-win {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #e9d9ba 0%, #bbab8c 100%) repeat scroll 0 0;
}
.cartoes
{
    bottom: 165px;
    float: right;
    height: auto;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 35px;
}
.cartoes .master
{
    float: left;
    position: relative;
    margin-bottom: 3px;
    width: 100%;
}
.section-ninfas .cartoes
{
    bottom: 88px;
    float: right;
    height: auto;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 35px;
}
.section-ninfas-morenas .cartoes
{
    bottom: 88px;
    float: right;
    height: auto;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 35px;
}
#owl-demo-row-timon .item .fade-home
{
    background: transparent none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    width: 100%;
}
#owl-demo-row-timon .item .fade-home:hover
{
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #e9d9ba 0%, #ff5132 100%) repeat scroll 0 0;
    opacity: 0.6;
    z-index: 9999;
    position: absolute;
    border-radius: 3px;
}

.section-ninfas
{
    background: rgba(233, 217, 186, 1) none repeat scroll 0 0;
}
.section-ninfas-morenas
{
    background: #282826 none repeat scroll 0 0;
    padding-bottom: 25px;
}
.cidade-logo
{
    background: #444 none repeat scroll 0 0;
    border-radius: 19px;
    bottom: -6px;
    color: #e9d9ba;
    float: left;
    font-size: 10px;
    height: auto;
    margin-left: 7px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-transform: uppercase;
    width: auto;

}
.destaque
{
    background: transparent;
    width: auto;
    height:auto;
    position: relative;
    padding-bottom: 10px;
    padding-top: 20px;
}
.interna
{
    width: auto;
    height:auto;
    position: relative;
    margin-top: 20px;
}
.interna-back
{
    background: #2e2e2e none repeat scroll 0 0;
    height: auto;
    margin-top: 4px;
    padding-top: 23px;
    position: relative;
    width: auto;
}
.interna .owl-carousel .owl-wrapper-outer {
    border-radius: 5px;
    height: 439px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#top-nav{
	background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
	-webkit-transform: translateZ(0)

}
.navbar .nav > li > a {
    color: #e9d9ba;
}
.logo-home
{
    background: rgba(0, 0, 0, 0) url("../../img/capa-home.png") no-repeat scroll 0 0;
    height: 400px;
    margin-top: 90px;
    overflow: hidden;
    width: 100%;
}
.box-home
{
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #fe2d58 0%, #ff5132 100%) repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.13);
    float: right;
    height: 139px;
    margin-right: 40px;
    margin-top: 136px;
    position: relative;
    width: 457px;
}
.menu-fixo
{
    display: none;
}
.menu-show
{
    background: rgba(233,222,186,0.8) none repeat scroll 0 0 !important;
    box-shadow: none !important;
    display: block;
    position: fixed;
    transition: height 500ms ease-in-out 0s;
}
.menu-show .logo {
    margin-bottom: 0;
    margin-top: -10px;
    width: 104px;
}
.menu-show .in{
        margin: 6px 0 10px !important;
}
.title-box
{
    color: #fff;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: 100;
    margin: 15px 15px 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.title
{
    font-family: "Alex", sans-serif;
}
.logo {
    height: 50px;
    margin-bottom: 11px;
    margin-top: -6px;
    width: auto;
}
.logo img {
    float: left;
    width: 140px;
}
#top-nav.navbar{
	margin-bottom: 0px;

}
#top-nav.navbar .nav{
	margin: 20px 0 0;
}
.descricao-ninfa
{
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    color: #fff;
    position: absolute;
    text-shadow: 0 2px 2px #000;
    width: 94.3%;
}
.box-hide
{
    display: none;
}
.box-show
{
    display: block;
    float: right;
    position: fixed;
    right: 101px;
    top: 88px;
}
.box-ninfas
{
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #fe2d58 0%, #ff5132 100%) repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.box-ninfas-interna
{
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #fe2d58 0%, #ff5132 100%) repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.grid
{
    float: left;
    height: auto;
    margin-right: 15px;
    position: relative;
    width: 100%;
}
.box-ninfas-interna-publicidade
{
    background: #333 none repeat scroll 0 0;
    border-radius: 3px;
    float: left;
    height: auto;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.galeria
{
    float: left;
    height: auto;
    position: relative;
    width: 100%;

}
.title-galeria
{
    margin-top: 15px !important;

}
.title-galeria h1
{
    margin: 0;
    color: #e9d9ba;
}
.selo-vip
{
    width: 100px;
    height: 100px;
    background: url("../../img/selo-vip.fw.png");
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}
.galeria img
{
    border-radius: 3px;
    box-shadow: 0 0 11px -6px #000;
    float: left;
    height: auto;
    margin-bottom: 19px;
    margin-right: 10px;
    position: relative;
    width: 100%;

}
.header-box
{
    background: transparent none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "Alex";
    font-size: 34px;
    margin-bottom: 4px;
    margin-left: -15px;
    margin-top: 0;
    padding: 15px 10px 15px 20px;
    width: 100%;
}
.dados-ninfa
{
    float: left;
    height: auto;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.item-ninfa
{
   color: #fff;
    float: left;
    font-size: 12px;
    width: 100%;
}
.cat
{
    float: right;
    position: relative;
    width: auto;
    height:auto;
}
.title-sub
{
    color: #fff;
    font-family: "Alex";
    font-size: 27px;
    float: left;
    height: auto;
    margin: 15px 0 0;
    width: 100%;
}
.title-dados
{
    width: 100%;
    font-family: "Alex", sans-serif;
    font-size: 35px;
}
.header-box-interna
{
    background: transparent none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "Alex";
    font-size: 32px;
    margin-bottom: -11px;
    margin-left: -15px;
    margin-top: 0;
    padding: 15px 10px 15px 20px;
    width: 100%;
}
.descricao-ninfa h3
{
     font-family: "Alex";
    font-size: 35px !important;
    margin: 20px 0 20px 19px;
}
.descricao-ninfa h4
{
    margin-top: 0;
    margin-left: 19px;
    font-size: 15px;
}
.menu-categoria
{
    background: #111 none repeat scroll 0 0;
    border-radius: 29px;
    color: #fff;
    font-size: 15px;
    margin-top: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.menu-categoria:hover
{
    background: rgba(233, 217, 186, 1);
    color: #444;
}
.menu-categoria a
{
    color: rgba(233, 217, 186, 1);
    text-decoration: none;
}
.subtitulo
{
   margin-bottom: 25px;
    margin-left: 37px !important;
}

#top-nav.navbar .nav > li > a {
	border-radius: 50px;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0;
    padding: 6px 15px;
    text-transform: uppercase;
	-webkit-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
#top-nav.navbar .nav > li > a.download{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#top-nav.navbar .nav > li > a.download-on{
	background-color: #ff8a3c;
	color: #ffffff;
}
#top-nav.navbar .nav > li > a.download-on:hover{
	color: #ffffff;
	background-color: #ff7920;
}
.btn-navbar span.icon-bar{
	margin-top: 0px;
}

.menu-show .navbar .nav > li > a {
    color: #444 !important;
}

/* Header  */

#header{
	background: #f1f1f1;
	padding: 100px 0 100px;
}
#header h1{
	color: #7fc242;
	margin-bottom: 10px;
	margin-top: 40px;
}
#header h3{
	margin-bottom: 30px;
	width: 400px;
}
#header .btn-success {
	padding: 15px 30px;
	margin-bottom: 5px;
}
#header .logo{
	display: block;
	margin-top:60px;
	float: right
}
img.arrow-down{
	margin: 0 auto;
	display: block;
}
h1{
	margin-top: 80px;
}

pre.pre-show{
	margin: 40px 0px;

}
.tab-content pre.pre-show{
	margin: 0px 0px 0px 0px;
}
.nav-tabs{
	margin-top: 20px;
	margin-bottom: 0px;
	
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	
}
/* Content */
.table th, .table td {
padding: 8px 12px;
}

/* Footer */

#footer{
	padding: 20px 0px;
	background: rgba(233, 217, 186,1);
	text-align: center;
}
.twitter-share-button{
	top: 4px;
	position: relative;
}

/* Demo Slides */

#owl-example .item{
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{
	font-size: 28px;
	font-weight: 300;
	margin: 25px 0 0;
}
#owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
.descricao-ninfa h1 {
    font-family: "Alex";
    font-size: 86px;
    letter-spacing: -0.03em;
    margin-left: 35px !important;
    margin-top: 47px !important;
}

.item h1{
	margin: inherit;
}


.orange{
	background: #ff8a3c;
}
.darkCyan{
	background: #42bdc2;
}
.forestGreen{
	background: #7fc242;
}
.yellow {
	background: #ffd800;
}
.dodgerBlue {
	background: #388bd1;
}
.skyBlue {
	background: #a1def8;
}
.zombieGreen {
	background: #3fbf79;
}
.violet {
	background: #db6ac5;
}
.yellowLight {
	background: #fee664;
}
.steelGray {
	background: #cad3d0;
}

/* More Demo Box */

#example-info h1,
#more h1{
	margin-top: 40px;
}
.demos-row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.demo-page{
	margin-top: 0px;
	margin-bottom: 100px;
}
.demo-box{
	display: block;
	background: #f3f3f3;
	text-align: center;
	font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.demo-box h3{
	padding-bottom:20px;
	margin: 0px;
	color: #869690;
}
.demo-box:hover{
	text-decoration: none;
}
.demo-wrapper{
	padding: 30px 0px 20px 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.demo-slide {
	float: left;
}
.demo-slide .bg{
	background: #aebab6;
	margin-right: 1px;
	height: 100%;
}
.demo-box:hover .demo-slide .bg{
	background: #7fc242;
}
/* Images */
.demo-images .demo-slide{
	height: 40px;
	width: 33.3333333%;
}

/* Full */
.demo-full {
	padding-left: 0px;
	padding-right: 0px;
}
.demo-full .demo-slide{
	height: 40px;
	width: 25%;
}

/* Custom */
.demo-custom .demo-slide{
	height: 40px;
	width: 10%;
}
/* One */
.demo-one .demo-slide{
	height: 40px;
	width: 100%;
}

/* json */

.demo-Json .demo-slide {
	height: 40px;
	width: 20%;
}
.demo-Json-custom .demo-slide{
	height: 40px;
	width: 33.3333333%;
}
/* loading icon */

.demo-lazy .demo-slide{
	height: 40px;
	width: 33.3333333%;
}
.demo-lazy .demo-slide .bg{
background: url('../img/AjaxLoader.gif') no-repeat center center #aebab6;
}

/* Auto Height */
.demo-height .demo-slide{
	height: 40px;
	width: 100%;
}

/* Changelog  */
#changelog{
	margin-bottom: 40px;
}
#changelog .label{
	margin-bottom:10px;
}
#changelog .log{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e6dd;
}
/* Faq */
#faq dt {
	line-height: 26px;
}
#faq dd{
	line-height: 22px;
	margin-bottom: 20px;
}



/* Responsive Stuff */


@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: relative;
	}
}
@media (max-width: 768px) {
	.navbar.navbar-fixed-top{
		position: static;
	}
	.btn.btn-navbar{
		margin: 9px 20px 9px 8px;
		padding: 10px 10px;
	}
	.nav-collapse .nav > li{
		border-top: 1px solid #e1e6dd;
		text-align: center
	}
	#header .logo{
		margin-top:40px;
		margin: 20px auto 0px;
		float: none;
		height: 150px;
	}
	#header {
		text-align: center;
		padding: 60px 0px 30px;
	}
	#header h1{
		margin: 10px 0;
	}
	#header h3{
	margin-bottom: 10px;
	width: auto;
	padding: 0px 20px;
	}
	h1 {
		font-size: 38px;
		margin: 20px 0;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 13px;
	}
	h6 {
		font-size: 12px;
	}

}


@media (max-width: 480px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	}
	#header {
		text-align: center;
		padding: 20px 0px 20px;
	}
	#header .logo{
		margin-top:0px;
	}

}

/*
NO MORE TABLES!! ;)
*/
@media (max-width: 767px) {

	.hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
		display: block; 
	}
	.hp-table thead tr { 
		display: none;
	}
	.hp-table tr { border: 0px solid #ccc; margin-bottom: 10px; }
	
	.hp-table td:before { 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.hp-table td:nth-of-type(2):before { 
		content: "Default:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(3):before { 
		content: "Type:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(4):before { 
		content: "Description:";
		font-weight: bold;
	}
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #eee;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    padding: 9px 12px 3px;
    width: 110%;
    text-transform: uppercase;
}
.section-ninfas h1
{
    color: #444;
    font-size: 68px;
    margin-bottom: 30px;
    margin-left: 13px;
    margin-top: 30px;
}
.section-ninfas-morenas h1
{
    color: rgba(233, 217, 186, 1);
    font-size: 68px;
    margin-bottom: 30px;
    margin-left: 13px;
    margin-top: 30px;

}

.bg-topo
{
    background:#EA2E3D  no-repeat scroll 319px center;
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}
#mainselection {
   background: #d31726 none no-repeat scroll 319px center;
    border-radius: 26px;
    float: left;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.interna-win #mainselection {
   background: #d31726 none no-repeat scroll 319px center;
    border-radius: 26px;
    float: left;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    width: 68%;
}
.interna-win .limite {
    float: left;
    height: auto;
    margin: 22px;
    position: relative;
    width: 89%;
}
.button-home
{
    background: #d31726 none no-repeat scroll 319px center;
    border-radius: 26px;
    color: #fff;
    float: left;
    line-height: 50px;
    margin-bottom: 12px;
    margin-left: 15px;
    margin-top: 18px;
    overflow: hidden;
    padding-left: 25px;
    position: relative;
    width: 22%;
}
.publicidade-home
{
    width: auto;
    height: auto;
    float: left;
    position: relative;
}
.limite
{
    float: left;
    margin: 15px;
    height: auto;
    position: relative;
    width:89%;
}.desc-publicidade
 {
    color: #999;
    float: left;
    height: auto;
    margin: 0 10px 10px 17px;
    text-align: left;
    width: 100%;
 }
.limite-publicidade
{
    height: auto;
    margin: 15px auto;
    position: relative;
}
#mainselection select option
{
    background: rgba(233, 217, 186, 1) none repeat scroll 0 0;
    color: #333;
    padding: 10px;
    font-size: 14px;
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

   #owl-demo .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin-left: 17px;
    overflow: hidden;
    }
    #owl-demo .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    #owl-demo-row .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin-left: 17px;
    overflow: hidden;
    }
    #owl-demo-row .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    #owl-demo-row-two .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin-left: 17px;
    overflow: hidden;
    }
    #owl-demo-row-two .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    #owl-demo-row-three .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin-left: 17px;
    overflow: hidden;
    }
    #owl-demo-row-three .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    #owl-demo-row-morenas
    {
        margin-bottom: 15px;
    }
    #owl-demo-row-morenas .item{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 330px;
    margin-left: 17px;
    overflow: hidden;
    }
    #owl-demo-row-morenas .item img{
        display: block;
        width: 100% !important;
        height: auto !important;
        border-radius: 3px;

        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
        #owl-demo-full .item img{
        display: block;
        width: 100%;
        height: auto;

    }
        #owl-demo-full
        {
            margin-bottom: 15px;
        }
        #owl-demo-full-home .item img{
        display: block;
        width: 100%;
        height: auto;

    }

        #owl-demo-full .item{
        display: block;
    height: 389px;
    width: 100%;

    }

       .interna #owl-demo-full .item{
        display: block;
    height: 439px;
    width: 100%;

    }

      #owl-demo-full .item .descricao-ninfa {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    color: #fff;
    position: absolute;
    text-shadow: 0 2px 2px #000;
    width: 100%;
}   .categoria-geral .descricao-ninfa {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    color: #fff;
    position: absolute;
    text-shadow: 0 2px 2px #000;
    width: 100%;
}

     .interna #owl-demo-full .item .descricao-ninfa {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    color: #fff;
    position: absolute;
    text-shadow: 0 2px 2px #000;
    width: 100%;
}

        #owl-demo-full-home
        {
            margin-bottom: 15px;
        }








