{% load i18n admin_static yawdadmin_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>{% get_admin_site_meta %}
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static "yawd-admin/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "yawd-admin/css/admin.css" %}" />
		<!--[if IE 7]>
			<link rel="stylesheet" href="{% static "yawd-admin/css/font-awesome-ie7.min.css" %}">
		<![endif]-->
		<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=latin,cyrillic-ext,cyrillic,greek,latin-ext' rel='stylesheet' type='text/css'>{% block extrastyle %}{% endblock %}
		<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> Removido Jquery Online-->
		<script src="{% static "yawd-admin/js/jquery.min.js" %}"></script>
		<script src="{% static "yawd-admin/js/bootstrap.min.js" %}"></script>{% block extrahead %}{% endblock %}{% block blockbots %}
		<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	</head>
	<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}dashboard{% endblock %}"{% block bodyspy %}{% endblock%}>{% block top-bar %}{% if not is_popup %}{% if user.is_active and user.is_staff %}
		{% admin_top_menu %}{% endif %}{% endif %}{% endblock %}{% block mainbody %}
		<div id="top-header" class="container-fluid main">{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li><a href="{% url 'admin:index' %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
				<li class="active">{% if title %} {{ title }}{% endif %}</li>
			</ul>{% endblock %}{% block pretitle %}{% endblock %}{% block content_title %}{% if title %}
			<header class="page-header" id="page-header">
				<h1>{{ title }}</h1>
			</header>{% endif %}{% endblock %}{% block object-tools %}{% endblock %}{% block admin-logo %}{% if not is_popup %}
			{% get_admin_logo %}{% endif %}{% endblock %}
		</div>
		<div class="container-fluid">{% if messages %}
			<ul class="messagelist">{% for message in messages %}
				<li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
					<button type="button" class="close" data-dismiss="alert">×</button>
					{{ message }}
				</li>{% endfor %}
			</ul>{% endif %}{% block content %}
			<div class="row-fluid show-grid">
				<div class="span8">{% block main-struct %}
					{{ content }}{% endblock %}
				</div>
				<div class="span3">
					{% block sidebar %}{% endblock %}
				</div>
			</div>{% endblock %}{% block footer %}{% endblock %}
		</div>{% endblock %}{% block bottomjs %}
		{% related_lookup_popup_var %}{% endblock %}
	</body>
</html>
