{% extends "admin/base_site.html" %}{% load admin_list i18n admin_static yawdadmin_tags yawdadmin_filters admin_urls %}

{% block extrastyle %}{{ block.super }}{% if cl.has_filters %}
		<link rel="stylesheet" type="text/css" href="{% static 'yawd-admin/css/select2/select2.css' %}" />{% endif %}{% if not actions_on_top and not actions_on_bottom %}
		<style>
			#changelist table thead th:first-child { width: inherit; }
		</style>{% endif %}{% endblock %}

{% block extrahead %}{{ block.super }}{% if cl.formset or action_form %}{% url 'admin:jsi18n' as jsi18nurl %}
		<script src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>{% endif %}
		<script src="{% static 'yawd-admin/js/yawd-admin.js' %}"></script>{% if cl.has_filters %}
		<script src="{% static 'yawd-admin/css/select2/select2.min.js' %}"></script>
		<script>
			(function($) {
				$(document).ready(function($) {
					$('#changelist-filters .select2').select2().change(function(e) {
						document.location = $(this).children('option:selected').data('href');
					});
					$('#changelist-filters .dropdown-menu').click(function (e) {
					    e.stopPropagation();
					});
				});
			})(yawdadmin.jQuery);
		</script>{% endif %}{% if cl.model_admin.sortable and cl.full_result_count and not is_popup %}
		<script src="{% static 'yawd-admin/js/jquery-ui-sortables.min.js' %}"></script>
		<script src="{% static 'yawd-admin/js/sortables.js' %}"></script>
		<script>var recursive_sorting = {{cl.model_admin.sortable_mptt|yesno:"true,false"}};</script>{% endif %}{% if is_popup %}
		<script>
			var opener = parent;
		</script>{% endif %}{% if action_form %}{% if actions_on_top or actions_on_bottom %}
		<script>
			(function($) {
				$(document).ready(function($) {
					$("tr input.action-select").actions();
				});
			})(yawdadmin.jQuery);
		</script>{% endif %}{% endif %}
		{% clean_media media %}{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block inner-title %}{{ cl.opts.verbose_name_plural|capfirst }}{% endblock %}

{% block content_title %}{% if title %}
			<header class="page-header">
				<h1>{% if cl.model_admin.title_icon %}<i class="{{cl.model_admin.title_icon}} title-icon"></i>{% endif %}{{ cl.opts.verbose_name_plural|capfirst }}</h1>
			</header>{% endif %}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
			<ul class="breadcrumb">
				<li><a href="{% url 'admin:index' %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>{% if not ADMIN_DISABLE_APP_INDEX %}
				<li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% with app_title=app_label|app_title|escape %}{{ app_title.title }}{% endwith %}</a> <span class="divider">/</span></li>{% endif %}
				<li class="active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
			</ul>{% endif %}{% endblock %}

{% block object-tools %}
			<div class="row-fluid nav object-tools">{% block object-tools-items %}{% if has_add_permission %}
				<div class="span2">
					<a href="add/{% if is_popup %}?{% if is_popup_var %}{{is_popup_var}}{% else %}_popup{% endif %}=1{% endif %}" class="big-button">
						<i class="add-item"></i> {% trans 'Add' %}
					</a>
				</div>{% endif %}{% endblock %}
			</div>{% endblock %}

{% block content %}
			<div class="row-fluid show-grid">
				<div class="span12">
					<div id="content-main">{% if cl.formset.errors %}
						<p class="alert alert-error close">
							{% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
						</p>
						{{ cl.formset.non_form_errors }}{% endif %}
						<div class="module{% if cl.has_filters %} filter{% endif %}">
							<form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}{% if cl.formset %}
								<div>{{ cl.formset.management_form }}</div>{% endif %}{% block result_list %}
								<div id="changelist-top" class="navbar">
									<div class="navbar-inner actions">
										<ul class="nav">{% if cl.model_admin.sortable and cl.full_result_count and not is_popup %}
											<li class="active">
												<a id="default-view" href="{% url cl.opts|admin_urlname:'partial_changelist' %}" title="{% trans 'List view' %}">
													<i class="icon-list"></i>
												</a>
											</li>
											<li>
												<a id="sortables-view" href="{% url cl.opts|admin_urlname:'sortables' %}" data-reorder="{% url cl.opts|admin_urlname:'reorder' %}" title="{% trans 'Reorder view' %}">
													<i class="icon-move"></i>
												</a>
											</li>{% endif %}{% if cl.has_filters %}
											<li id="changelist-filters" class="dropdown filters">{% with is_filters_on=cl|filters_on %}
												<a href="#" class="dropdown-toggle{% if is_filters_on %} filters-on{% endif %}" data-toggle="dropdown">
													<i class="icon-filter"></i><span class="hidden-phone">&#xa0;{% trans 'Filters' %}</span> <span class="label">{% if is_filters_on %} {% trans 'ON' %}{% else %}{% trans 'OFF' %}{% endif %}</span>  <b class="caret"></b>
												</a>
												<ul class="dropdown-menu">{% for spec in cl.filter_specs %}
													{% admin_list_filter cl spec %}{% if not forloop.last %}
													<li class="divider"></li>{% endif %}{% endfor %}
												</ul>
											</li>{% endwith %}{% endif %}{% if action_form and actions_on_top and cl.full_result_count %}
											{% admin_actions %}{% endif %}
										</ul>
									</div>
								</div>
								{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}{% block result-list %}
								{% result_list cl %}{% endblock %}{% if action_form and actions_on_bottom and cl.full_result_count %}
								{% admin_actions %}{% endif %}{% endblock %}{% block pagination %}
								{% pagination cl %}{% endblock %}
							</form>
							{% block search %}{% search_form cl %}{% endblock %}
						</div>
					</div>
				</div>
			</div>{% endblock %}
