{% if is_paginated %}
{% load i18n %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}"><div id="botnBack"></div></a>
    {% else %}
        <div id="botnBack"></div></span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}"><div id="botnLeft"></div></a>
    {% else %}
        <div id="botnLeft"></div></span>
    {% endif %}
{% endif %}